@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$dark-black: hsl(0, 0%, 21%);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $dark-black;
$link: $brown;
$text-strong: $dark-black;
$fullhd-enabled: true;
$column-gap: 0.15em;
$radius: 0;
$title-family: "industry";
$title-size: 2.25rem;
$title-weight: 500;
$subtitle-color: $text-strong;
$subtitle-family: "industry";
$subtitle-size: .9rem;
$subtitle-weight: 500;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

/*Own variables*/

$letter-spacing-1: -0.1rem;

/*Own Styles*/

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark-black;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white !important;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
.banner {
    background-image: url("/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding: 1em;
}

.banner_logo{
    width: 250px;
    margin: auto;
}

.has-inverted-color{
    filter: invert(1);
}

.title {
    letter-spacing: $letter-spacing-1;
}

.divider {
    border-radius: 30px;
    width: 20px;
    height: 2px;
    background-color: $primary;
    margin: 0 auto;
}

.has-image-centered {
    margin-left: auto !important;
    margin-right: auto !important;
}

.projetos {
    padding-left: 0;
    padding-right: 0;
    .card {
    background-size: cover;
    background-position: center;
    }
    .base.card{
        background-image: url("/img/capa-projeto---base.jpg");
        .card_logo{
            height: 60px;
        }
    }
    .bbt.card{
        background-image: url("/img/capa-projeto---bbt.jpg");
    }
    .cop.card{
        background-image: url("/img/capa-projeto---cop.jpg");
    }
    .w2c.card{
        background-image: url("/img/capa-projeto---w2c.jpg");
    }
    .xldr.card{
        background-image: url("/img/capa-projeto---xldr.jpg");
    }
    .card_logo{
        height: 80px;
        margin: auto;
    }
    .card-content {
        min-height: 12em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
